<rankers>
    <div class="cup-title">{props.cup.title}</div>
    <hr>
    <div class="search-box">
        <div class="input" contenteditable></div>
    </div>
    <style scoped>
        .cup-title {
            font-family: sans-serif;
            font-size:32pt;
        }

        hr {
            background-color:gray;
        }
    </style>
    <script>
        
    </script>
</rankers>